.container{
    width: 1300px;
    margin: auto;
}

.sculpture{
    position: relative;
    z-index: 0;
}

.sculpture_orientation{
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-top: 25px;
}

.sculpture__links{
    box-sizing: border-box;
    width: 183px;
    height: 300px;
    background-color: #F0F5FA;
    border-radius: 20px;
}

.sculpture__links-list{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 39px 0 0 26px;
    list-style: none;
}

.sculpture__links-list-item-text{
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.68px;
    text-decoration: none;
}

.appeal__container-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.appeal__container{
    width: 1080px;
    box-sizing: border-box;
    margin-top: -15px;
}

.appeal__container-info-left-side {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.appeal__button-back {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 16px;
    background: rgb(229, 0, 22);
    align-self: center;
    cursor: pointer;
}

.appeal__number-case {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 78.73px;
    margin: 0;
}

.appeal__container-info-right-side {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-self: center;
}

.appeal__admin-img {
    width: 46px;
    height: 46px;
    box-shadow: 4px 4px 44px 0 rgba(39, 49, 74, 0.12);
    background: url('../images/asya.png') center ;
    border-radius: 50%;
}

.appeal__admin-name {
    color: rgb(39, 49, 74);
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    margin: 0;
    align-self: center;
}

.appeal__container-chat {
    height: 600px;
    background-color: #E9F3F9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.appeal__container-chat-messages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 457px;
    max-height: 460px;
    overflow-y: auto;
    padding: 30px 50px 0 50px;
}

.user-message-container{

}

.message-data {
    color: rgb(187, 189, 195);
    font-family: Onest, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin: 0;
}

.user-message-container-element, .admin-message-container-element  {
    width: max-content;
    max-width: 695px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.user-message-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-start;
}

.user-message {
    background-color: #FFFFFF;
    border-radius: 4px 20px 20px 20px;
    padding: 10px 20px 10px 20px;
}

.user-message-text{
    color: rgb(39, 49, 74);
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin: 0;
}

.admin-message-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-end;
    align-items: flex-end;
}

.admin-message-container-element{
    align-items: flex-end;
}

.admin-message {
    max-width: 695px;
    background-color: #27314A;
    border-radius: 20px 4px 20px 20px;
    padding: 10px 17px 10px 20px;
}

.admin-message-text {
    color: rgb(255, 255, 255);
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: right;
    margin: 0;
}

.appeal__container-chat-form-submission {
    height: 58px;
    background: #FFFFFF;
    border-radius: 24px;
    margin-left: 38px;
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#upload_img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.send_message-text {
    border: none;
    height: 30px;
    width: 60em;
}

.send_message-button {
    width: 38px;
    height: 38px;
    background: #E50016;
    border: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}









